
ul.table-form li, ul.login-ul li{
    margin: 5px;
    margin-left: -30px;
    list-style-type: none;
}

.errorlist{
    color: red;
}

#spinner{
    font-size: 50px;
    position: absolute;
    left: 48%;
    top: 30%;
    z-index: 1;
    display: none;
}