{% load i18n %}


<script type="text/template" id="page-not-found-template"> 
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Error' %}</h3>
                </div>
                <div class="panel-body">
                    {% trans 'Page not found' %}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="msg-template"> 
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{% trans 'Error' %} <%= error.status %></strong> 
        <ul>
        <% if (typeof error.statusText == 'string') { %>
            <%= error.statusText %>
        <% } else { %>
            <% _.each(error.statusText, function(object){ %>
                <li><%= object.label %>: <%= object.errors %></li>
            <% }); %>
        <% } %>
        </ul>
    </div>
</script>