{% load i18n %}


<script type="text/template" id="classroom-list-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Class Rooms' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heart"></i> {% trans 'Class Rooms' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Specialization' %}</th>
                                <th>{% trans 'Teacher' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(objects.models, function(object){ %>
                            <tr>
                                <td><%= object.get('name') %></td>
                                <td><%= object.get('specialization').name %></td>
                                <td><%= object.get('teacher').first_name %> <%= object.get('teacher').last_name %></td>
                                <td>  
                                    <a href="#classroom/detail/<%= object.get('id') %>/" class="btn btn-default pull-right"><i class="fa fa-bars"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <% if (pages > 1) {%>
                    <nav>
                        <ul class="pagination"class="pull-left">
                            <% _.each(_.range(1, pages + 1), function(paginatePage){ %>
                            <li <% if (paginatePage == page) { %>class="active"<% } %>><a href="#classroom/list/<%= paginatePage %>/"><%= paginatePage %></a></li>
                            <% }); %> 
                        </ul>
                    </nav>
                    <% } %>
                    {% if not user.is_student or user.role == user.ROLE_ADMIN %}
                    <a href="#classroom/create/" class="btn btn-default pull-right">
                        <i class="fa fa-plus"></i> {% trans 'Create class room' %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> {% trans 'Filters' %}</h3>
                </div>
                <div class="panel-body">
                    <form id="id-form-user-filter">
                        <ul class="table-form">
                        {{form_filter.as_ul}}
                        </ul>
                        <button id="id-btn-classroom-filter" class="btn btn-default pull-right"><i class="fa fa-filter"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="classroom-detail-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#classroom/list/1/">{% trans 'Class Rooms' %}</a></li>
        <li class="active">{% trans 'Class Room details' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heart"></i> {% trans 'Class Room details' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'Field' %}</th>
                                <th>{% trans 'Value' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% trans 'Name' %}</td>
                                <td><%= object.get('name') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Description' %}</td>
                                <td><%= object.get('description') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Specialization' %}</td>
                                <td><%= object.get('specialization').name %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Teacher' %}</td>
                                <td><%= object.get('teacher').first_name %> <%= object.get('teacher').last_name %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Students' %}</td>
                                <td>
                                    <ul>
                                    <% _.each(object.get('students'), function(student){ %>
                                        <li><%= student.first_name %> <%= student.last_name %></li>
                                    <% }); %>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    {% if not user.is_student or user.role == user.ROLE_ADMIN %}
                    <a href="#classroom/delete/<%= object.get('id') %>/" class="btn btn-danger pull-left" onclick="return confirm('{% trans "Are you sure?" %}')">
                        <i class="fa fa-trash"></i> {% trans 'Delete classroom' %}
                    </a>
                    <a href="#classroom/update/<%= object.get('id') %>/" class="btn btn-default pull-right">
                        <i class="fa fa-bars"></i> {% trans 'Update classroom' %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not user.is_student or user.role == user.ROLE_ADMIN %}
        {% else %}
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> {% trans 'Join or remove' %}</h3>
                </div>
                <div class="panel-body">
                    <button id="id-btn-classroom-join" data="{{user.get_student_profile.id}}" class="btn btn-default">{% trans 'Join or remove' %}</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</script>


<script type="text/template" id="classroom-update-template">
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#classroom/list/1/">{% trans 'Class Rooms' %}</a></li>
        <li><a href="#classroom/detail/<%= object.get('id') %>/">{% trans 'Class Room details' %}</a></li>
        <li class="active">{% trans 'Update class room' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bars"></i> {% trans 'Update class room' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="">
                        <ul class="table-form">
                        {{form.as_ul}}
                        </ul>
                        <br>
                        <button id="id-btn-classroom-update" class="btn btn-default pull-right"><i class="fa fa-save"></i> {% trans 'Update' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="classroom-create-template">
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#classroom/list/1/">{% trans 'Class Rooms' %}</a></li>
        <li class="active">{% trans 'Create class room' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-plus"></i> {% trans 'Create class room' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="">
                        <ul class="table-form">
                        {{form.as_ul}}
                        </ul>
                        <br>
                        <button id="id-btn-classroom-create" class="btn btn-default pull-right"><i class="fa fa-save"></i> {% trans 'Create' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>