{% load i18n %}


<script type="text/template" id="student-list-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Students' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-users"></i> {% trans 'Students' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'First Name' %}</th>
                                <th>{% trans 'Last Name' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(objects.models, function(object){ %>
                            <tr>
                                <td><%= object.get('first_name') %></td>
                                <td><%= object.get('last_name') %></td>
                                <td><%= object.get('user').username %></td>
                                <td>  
                                    <a href="#student/detail/<%= object.get('id') %>/" class="btn btn-default pull-right"><i class="fa fa-bars"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <% if (pages > 1) {%>
                    <nav>
                        <ul class="pagination"class="pull-left">
                            <% _.each(_.range(1, pages + 1), function(paginatePage){ %>
                            <li <% if (paginatePage == page) { %>class="active"<% } %>><a href="#student/list/<%= paginatePage %>/"><%= paginatePage %></a></li>
                            <% }); %> 
                        </ul>
                    </nav>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> {% trans 'Filters' %}</h3>
                </div>
                <div class="panel-body">
                    <form id="id-form-user-filter">
                        <ul class="table-form">
                        {{form_filter.as_ul}}
                        </ul>
                        <button id="id-btn-student-filter" class="btn btn-default pull-right"><i class="fa fa-filter"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="student-detail-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#student/list/1/">{% trans 'Students' %}</a></li>
        <li class="active">{% trans 'Student details' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> {% trans 'Student details' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'Field' %}</th>
                                <th>{% trans 'Value' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% trans 'First Name' %}</td>
                                <td><%= object.get('first_name') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Last Name' %}</td>
                                <td><%= object.get('last_name') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Username' %}</td>
                                <td><%= object.get('user').username %></td>
                            </tr>
                        </tbody>
                    </table> 
                    <% if (object.get('user').id == {{user.id}} || {{user.role}} == {{user.ROLE_ADMIN}} ) {%>
                    <a href="#student/delete/<%= object.get('id') %>/" class="btn btn-danger pull-left" onclick="return confirm('{% trans "Are you sure?" %}')">
                        <i class="fa fa-trash"></i> {% trans 'Delete student' %}
                    </a>
                    <a href="#student/update/<%= object.get('id') %>/" class="btn btn-default pull-right">
                        <i class="fa fa-bars"></i> {% trans 'Update student' %}
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="student-update-template">
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#student/list/1/">{% trans 'Students' %}</a></li>
        <li><a href="#student/detail/<%= object.get('id') %>/">{% trans 'Student details' %}</a></li>
        <li class="active">{% trans 'Update student' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bars"></i> {% trans 'Update student' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="">
                        <ul class="table-form">
                        {{form.as_ul}}
                        </ul>
                        <br>
                        <button id="id-btn-student-update" class="btn btn-default pull-right"><i class="fa fa-save"></i> {% trans 'Update' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
