{% load i18n %}


<script type="text/template" id="teacher-list-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Teachers' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-graduation-cap"></i> {% trans 'Teachers' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'First Name' %}</th>
                                <th>{% trans 'Last Name' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(objects.models, function(object){ %>
                            <tr>
                                <td><%= object.get('first_name') %></td>
                                <td><%= object.get('last_name') %></td>
                                <td><%= object.get('user').username %></td>
                                <td>  
                                    <a href="#teacher/detail/<%= object.get('id') %>/" class="btn btn-default pull-right"><i class="fa fa-bars"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <% if (pages > 1) {%>
                    <nav>
                        <ul class="pagination"class="pull-left">
                            <% _.each(_.range(1, pages + 1), function(paginatePage){ %>
                            <li <% if (paginatePage == page) { %>class="active"<% } %>><a href="#teacher/list/<%= paginatePage %>/"><%= paginatePage %></a></li>
                            <% }); %> 
                        </ul>
                    </nav>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> {% trans 'Filters' %}</h3>
                </div>
                <div class="panel-body">
                    <form id="id-form-user-filter">
                        <ul class="table-form">
                        {{form_filter.as_ul}}
                        </ul>
                        <button id="id-btn-teacher-filter" class="btn btn-default pull-right"><i class="fa fa-filter"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="teacher-detail-template"> 
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#teacher/list/1/">{% trans 'Teachers' %}</a></li>
        <li class="active">{% trans 'Teacher details' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-graduation-cap"></i> {% trans 'Teacher details' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'Field' %}</th>
                                <th>{% trans 'Value' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% trans 'First Name' %}</td>
                                <td><%= object.get('first_name') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Last Name' %}</td>
                                <td><%= object.get('last_name') %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Username' %}</td>
                                <td><%= object.get('user').username %></td>
                            </tr>
                            <tr>
                                <td>{% trans 'Specializations' %}</td>
                                <td>
                                    <ul>
                                    <% _.each(object.get('specializations'), function(specialization){ %>
                                        <li><%= specialization.name %></li>
                                    <% }); %>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <% if (object.get('user').id == {{user.id}} || {{user.role}} == {{user.ROLE_ADMIN}}) {%>
                    <a href="#teacher/delete/<%= object.get('id') %>/" class="btn btn-danger pull-left" onclick="return confirm('{% trans "Are you sure?" %}')">
                        <i class="fa fa-trash"></i> {% trans 'Delete teacher' %}
                    </a>
                    <a href="#teacher/update/<%= object.get('id') %>/" class="btn btn-default pull-right">
                        <i class="fa fa-bars"></i> {% trans 'Update teacher' %}
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="teacher-update-template">
    <ol class="breadcrumb">
        <li><a href="#">{% trans 'Home' %}</a></li>
        <li><a href="#teacher/list/1/">{% trans 'Teachers' %}</a></li>
        <li><a href="#teacher/detail/<%= object.get('id') %>/">{% trans 'Teacher details' %}</a></li>
        <li class="active">{% trans 'Update teacher' %}</li>
    </ol> 
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bars"></i> {% trans 'Update teacher' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="">
                        <ul class="table-form">
                        {{form.as_ul}}
                        </ul>
                        <br>
                        <button id="id-btn-teacher-update" class="btn btn-default pull-right"><i class="fa fa-save"></i> {% trans 'Update' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
