{% load i18n %}
{% load staticfiles %}
{% load compress %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">


    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/select2/select2.css' %}">  
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/select2/select2-bootstrap.css' %}"> 

    {% block extra_css %}
    {% endblock %}
    {% endcompress %}
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans 'Online courses' %}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#classroom/list/1/"><i class="fa fa-heart"></i> {% trans 'Class Rooms' %}</a></li>
                        <li><a href="#teacher/list/1/"><i class="fa fa-graduation-cap"></i> {% trans 'Teachers' %}</a></li>
                        <li><a href="#student/list/1/"><i class="fa fa-users"></i> {% trans 'Students' %}</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_teacher %}
                        <li><a href="#teacher/detail/{{user.get_teacher_profile.id}}/"><i class="fa fa-user"></i> {{user.get_short_name}}</a></li>
                        {% elif user.is_student %}
                        <li><a href="#student/detail/{{user.get_student_profile.id}}/"><i class="fa fa-user"></i> {{user.get_short_name}}</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" onclick="return confirm('{% trans "Are you sure?" %}')"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <i id="spinner" class="fa fa-spinner fa-spin" style="display:none;"></i>

        <div class="jumbotron">
            <div id="msg"></div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>

    </div> <!-- /container -->

    {% compress js %}
    {% block underscore_templates %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/underscore/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/backbone/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/select2/select2.min.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
    {% endcompress %}
</body>
</html>
