{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}


{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
{% endblock %}


{% block underscore_templates %}
{% include 'partials/base.html' %}
{% include 'partials/classrooms.html' with form=classroom_form form_filter=classroom_filter_form %}
{% include 'partials/teachers.html' with form=teacher_form form_filter=teacher_filter_form %}
{% include 'partials/students.html' with form=student_form form_filter=student_filter_form %}
{% endblock %}


{% block extra_js %}
    <script>
    Backbone.Tastypie.apiKey = {
        username: '{{user.username}}',
        key: '{{user.get_apikey}}'
    };
    </script>
    <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collections.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
{% endblock %}
