{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}


{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-sign-in"></i> {% trans 'Login' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <ul class="login-ul">
                        {{form.as_ul}}
                        </ul>
                        <br>
                        <button class="btn btn-default pull-right"><i class="fa fa-sign-in"></i> {% trans 'Login' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}